@import "./var/colors";

.content {
  grid-area: c;
  padding: 0 16px;
  border: solid $main-color-light;
  border-width: 0 4px;
  min-height: 100vh;
}
.background img {
  display: block;
  width: 100%;
  margin: 20px auto;
}
.user {
  display: flex;
}
.avatar {
  justify-content: flex-end;
  width: 128px;
  margin: 0 16px 0 0;
}
.avatar img {
  width: 100%;
}
.description {
  line-height: 0.9em;

}
.status {
  font-size: 0.8em;
  line-height: 1.6em;
  text-indent: 16px;
}
.additional_info {
  margin: 12px 0 0 0;
  font-size: 0.8em;
  line-height: 1.15em;
}


.posts {
  margin: 48px 0;
}
.posts .title {
  text-indent: 16px;
}
.posts .adding {
  text-align: right;
}
.posts .adding form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 2%;
}
.posts .adding form textarea {
  resize: none;
  margin: 12px 0;
  background-color: $background-color;
  color: $main-color-light;
  font-family: 'StadioNow-Monolinea';
  font-size: 0.8em;
  padding: 8px;
}
.posts .adding form textarea:focus {
  outline: none;
  border-color: $main-color-light;
}
.posts .adding form input[type=submit] {
  width: 20%;
  align-self: flex-end;
  color: $main-color-light;
  background-color: $background-color;
  font-size: 0.7em;
  border-style: solid;
  border-width: 1px;
  text-align: left;
  text-indent: 24px;
}
.posts .adding form input[type=submit]:focus {
  outline: none;
  border: 1px solid $main-color-light;
}
.posts .adding form input[type=submit]:hover {
  outline: none;
  color: $hover-color;
  border: 1px solid $hover-color;
}

.post {
  margin: 16px 0;
}
.post_author {
  display: flex;
  margin-bottom: 12px;
}
.post_author_avatar {
  width: 64px;
  border-radius: 32px;
}
.post_author_nickname {
  margin-left: 24px;
}