@import "./colors";
@import "./width";

.Header {
  grid-area: h;
  position: fixed;
  width: 100%;
  font-size: 2em;
  padding: 8px 0;
  font-family: 'StadioNow-Novarese';
  text-shadow: 4px 4px 0 $main-color-dark;
  border: solid $main-color-light;
  border-width: 0 0 4px;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}
.Header-wrapper {
  width: $width-page;
}
.Header-logo {
  margin-left: -64px;
}
.Header-logo img {
  height: 86px;
}
