@import "./colors";

.left {
  grid-area: l;
  border: solid $main-color-light;
  border-width: 0 4px 0 0;
  transition-timing-function: ease;
  transition-duration: 200ms;
}
.left:hover {
  cursor: pointer;
  background-color: $main-color-to-top;
}
.right {
  grid-area: r;
  border: solid $main-color-light;
  border-width: 0 0 0 4px;
}
