@import "./colors";

.nav {
  grid-area: n;
  overflow: hidden;
}
.item {
  text-indent: 12px;
  line-height: 1.3em;
}
.item:first-child {
  margin-top: 24px;
}
.item:last-child {
  margin-top: 32px;
}
.item a{
  display: block;
  width: 92%;
  margin-left: 4%;
  color: $main-color-light;
  text-decoration: none;
}
.item a:focus{
  outline: 1px solid $main-color-light;
}
