@import "../_style/_variables/colors";

.nav {
  grid-area: n;
  overflow: hidden;

  .item {
    text-indent: 12px;
    line-height: 1.3em;

    &:first-child {
      margin-top: 24px;
    }
    &:last-child {
      margin-top: 32px;
    }

    a {
      display: block;
      width: 92%;
      margin-left: 4%;
      color: $mainColor-light;
      text-decoration: none;

      &:focus{
        outline: 1px solid $focusColor;
      }
      &:hover{
        outline: 1px solid $mainColor-light;
        color: $mainColor-light;
      }
    }
  }
}
