@import "../_style/_variables/colors";

.left {
  grid-area: l;
  border: solid $mainColor-light;
  border-width: 0 4px 0 0;
  transition-timing-function: ease;
  transition-duration: 200ms;

  &:hover {
    cursor: pointer;
    background-color: $mainColor-up;
  }
}

.right {
  grid-area: r;
  border: solid $mainColor-light;
  border-width: 0 0 0 4px;
}
