@import "components/style/colors";
@import "components/style/width";


.App {
  display: grid;
  grid-template-areas:
    "h h h h h"
    "l n c a r"
    "f f f f f";
  grid-template-rows: 120px 1fr 120px;
  grid-template-columns: 1fr $width-nav $width-content $width-ads 1fr;
  // grid-column-gap: 20px;
  font-family: 'StadioNow-Monolinea';
  font-size: 24px;
  color: $main-color-light;
}

// * { border: solid $main-color-light 1px; }

body {
  background-color: $background-color;
}


@font-face {
  font-family: 'StadioNow-Novarese';
  src: url(fonts/StadioNow-Novarese.otf);
}

@font-face {
  font-family: 'StadioNow-Monolinea';
  src: url(fonts/StadioNow-Monolinea.otf);
}
